@model string
@using ELO.Models

<form asp-action="DeleteUser" role="form">
    <partial name="_ModalHeader" model='new ModalHeader { Heading = "Eliminar Usuario" }' />

    <div class="modal-body form-horizontal">
        ¿Estás seguro que quieres eliminar al usuario @Model?
    </div>
    <partial name="_ModalFooter" model='new ModalFooter { SubmitButtonText = "Eliminar" }' />
</form>