@{
    ViewData["Title"] = "ELO";
    ViewData["Message"] = "Plataforma de Gestión Tecnológica";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="vertical-align:middle">
            <table>
                <tr>
                    <td valign="middle" style="min-width:60px">
                        <a href="@Url.Action("Contact", "Home", null, null)" target="_blank">
                            <img src="~/images/ico/.svg" alt="" class="img-responsive" style="padding-bottom:16px;max-height:80px;padding-right:16px" />
                        </a>
                    </td>
                    <td valign="middle">
                        <h1 style="vertical-align:middle">
                            
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="https://www.corfo.cl/" target="_blank">
                    <img src="~/images/ico/corfo.svg" alt="corfo" class="img-responsive" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="https://www.corfo.cl/" target="_blank">
                    <img src="~/images/ico/gob.cl.svg" alt="corfo" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<h3>@ViewData["Message"]</h3>
<h2>
    PROGRAMA TECNOLÓGICO PRODUCCIÓN DE SEMILLA Y REPOBLAMIENTO DE ERIZO ROJO Y LOCO
    PARA POTENCIAR LA DIVERSIFICACIÓN DE LA ACUICULTURA NACIONAL
</h2>
<h5>CÓDIGO 15PTEC-47385</h5>

<p style="text-align:justify">
    La Diversificación pesquera y acuícola se presenta hoy como una importante oportunidad para la generación de riqueza y empleo, vía la búsqueda de mayor competitividad y sostenibilidad del sector. La propuesta hace especial énfasis en el trabajo de campo en las principales regiones de la pesca artesanal y en aquellas organizaciones que, de manera sostenida, han desarrollado iniciativas de repoblamiento.
    <ul>
        <li>
            700 organizaciones de pescadores artesanales en régimen AMERB
        </li>
        <li>
            340 con al menos 1 sector AMERB; 23.000 pescadores. No se registra el número de socios para 214 organizaciones, lo que podría representar 10.000 pescadores adicionales.
        </li>
    </ul>

    @*Un proyecto de la Asociación de Mitilicultores de Chile (<strong><a target="_blank" href="http://www.amichile.com/">AmiChile</a></strong>),
        financiado por La Corporación de Fomento de la Producción (<strong><a target="_blank" href="https://www.corfo.cl/">CORFO</a></strong>),
        enmarcado en el proyecto Código 16 NODO 70434 "Nodo Ciencia y Tecnología para la Industria Mitilicultora"
        para el Instituto Tecnológico de Mitilicultura (<strong><a target="_blank" href="http://www.intemit.cl/">INTEMIT</a></strong>) y
        desarrollado por el Centro Acuícola Pesquero de Investigación Aplicada (<strong><a target="_blank" href="http://www.capia.cl">CAPIA</a></strong>)
        de la Universidad Santo Tomás (<strong><a target="_blank" href="http://www.ust.cl">UST</a></strong>).*@
    <br />
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <video style="width:100%;" autoplay="" muted="" loop="" controls="">
                <source src="/video/COVER-FB.mp4" type="video/mp4">
            </video>
            @*<iframe width="560" height="315" src="https://www.youtube.com/embed/Xx-qk-a4-fA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>*@
        </div>
        <div class="col-md-6">
            <h3>Objetivo:</h3>
            <p style="text-align:justify;">
                <strong>ELO</strong>
                es una herramienta de gestión y portal de conexión entre la industria,
                academia, centros tecnológicos e institutos que tienen por objetivo
                Repoblar las áreas de manejo de la pesca artesanal con los recursos loco y erizo rojo 
                con el fin de darle sustentabilidad a esta actividad, asegurando un abastecimiento permanente 
                y sostenido del mercado nacional e internacional.
            </p>
            <h3>Alcances:</h3>
            <p style="text-align:justify;">
                <ul>
                    <li>
                        El Programa está compuesto por 10 Subproyectos.
                    </li>
                    <li>
                        Tiene una duración de 72 meses.
                    </li>
                    <li>
                        Principal zona de ejecución es la Región de Los Lagos; secundariamente Antofagasta y Magallanes.
                    </li>
                    <li>
                        Temáticas asociadas al erizo rojo son: producción de semillas, repoblamiento, calidad gónada, genética, patologías, dietas, transferencia, capital humano avanzado.
                    </li>
                    <li>
                        Temática asociada a loco, se concentra en un modelo de repoblación.
                    </li>
                </ul>
            </p>
            <h3>Subproyectos:</h3>
            <p style="text-align:justify;">
                <ol>
                    <li>
                        ADECUACIÓN DE LA INFRAESTRUCTURA Y PRODUCCIÓN DE SEMILLA DE ERIZO ROJO.
                    </li>
                    <li>
                        OPTIMIZACIÓN DEL ASENTAMIENTO Y METAMORFOSIS DE ERIZO ROJO EN CONDICIONES CONTROLADAS.
                    </li>
                    <li>
                        DETERMINACIÓN DE UNA ESTRATEGIA DE REPOBLAMIENTO CON SEMILLA DE ERIZO.
                    </li>
                    <li>
                        MEJORAMIENTO DE LA CALIDAD COMERCIAL DE LA GÓNADA (TEXTURA, COLOR Y SABOR) DEL ERIZO ROJO.
                    </li>
                    <li>
                        VARIABILIDAD GENÉTICA DE LAS POBLACIONES DE ERIZO ROJO EN EL MEDIO NATURAL.
                    </li>
                    <li>
                        PROGRAMA DE VIGILANCIA SANITARIO DEL CULTIVO DE ERIZO ROJO EN CONDICIONES CONTROLADAS.
                    </li>
                    <li>
                        ELABORACIÓN DE UNA DIETA ESPECIE ESPECÍFICO, PARA CADA ETAPA DEL CULTIVO DE ERIZO ROJO.
                    </li>
                    <li>
                        TRANSFERENCIA DE LAS TECNOLOGÍAS DE REPOBLACIÓN Y AFINAMIENTO DEL PRODUCTO COMERCIAL DE ERIZO ROJO.
                    </li>
                    <li>
                        FORMACIÓN DE CAPITAL HUMANO AVANZADO.
                    </li>
                    <li>
                        REPOBLACIÓN PILOTO DEL RECURSO LOCO EN ÁREAS DE MANEJO DE LA PESCA ARTESANAL.
                    </li>
                </ol>
            </p>
            <p><strong>La Plataforma ELO</strong> Consta de:</p>
            <ol style="line-height: 1.5em;text-align:justify">
                <li>
                    Una Biblioteca electrónica en línea con documentos recopilados desde múltiples fuentes para Erizo rojo y Loco a nivel nacional (descargable en formato digital), incluyendo:
                    <ul>
                        <li>
                            Número de actores del sector y su identificación.
                        </li>
                        <li>
                            Número de tesis académicas publicadas.
                        </li>
                        <li>
                            Número de publicaciones especializadas.
                        </li>
                        <li>
                            Número de proyectos de Investigación y Desarrollo categorizados por fuente de financiamiento.
                            <br/>
                            <br/>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
