@{
    ViewData["Title"] = "Contacto";
    ViewData["Message"] = "Contáctenos para mayor información o soporte técnico.";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <p style="height:9vh;vertical-align:bottom;display: table-cell;font-size:24px">
            <h3>@ViewData["Message"]</h3>
            </p>
            <hr />
            <address>
                Administración
                <strong>UNAP</strong> (Universidad Arturo Prat) <br />
                <abbr title="Horarios 9:00-18:00 hrs">Dirección:</abbr>
                <a target="_blank" href="">Ejercito 443, Puerto Montt</a><br />
                <abbr title="Horarios 9:00-18:00 hrs">Teléfono:</abbr>
                <a href="tel:+56652485120">+56 65 243 8752</a>
            </address>
            <address>
                Web Hosting
                <strong>UST</strong> (Universidad Santo Tomás) <br />
                <abbr title="horarios 9:00-18:00 hrs">Dirección:</abbr>
                <a target="_blank" href="">Buena Vecindad 91, Puerto Montt</a><br />
                <abbr title="horarios 9:00-18:00 hrs">Teléfono:</abbr>
                <a href="tel:+56652485120">+56 65 248 5120</a>
            </address>
            <address>
                <strong>Administración:</strong> <a href="mailto:psoliz@unap.cl">psoliz@unap.cl</a><br />
                <strong>Soporte Técnico:</strong> <a href="mailto:guillermorodriguezpi@santotomas.cl">guillermorodriguezpi@santotomas.cl</a>
            </address>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <a href="" target="_blank"><img src="~/images/ico/unap.svg" alt="UNAP" class="img-responsive" style="padding-bottom:30px;height:20vh"/></a>
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.656467574621!2d-72.9351514846538!3d-41.468365659579455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183a594ee7e0f5%3A0x1a24dba5284c34c2!2sUniversidad+Arturo+Prat!5e0!3m2!1sen!2scl!4v1541433722112" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>        </section>
    </div>
    <div class="col-md-4">
        <section>
            <a href="" target="_blank">
                <img src="~/images/ico/ust.svg" alt="UST" class="img-responsive" style="padding-bottom:30px;height:20vh" />
            </a>
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.454622003083!2d-72.9310102846537!3d-41.47274265985034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183a5005dbbfe1%3A0xfebaed9a3887a60!2sUniversidad+Santo+Tom%C3%A1s!5e0!3m2!1sen!2scl!4v1541433904633" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></section>
    </div>
</div>