@{
    ViewData["Title"] = "ELO";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="container body-content">
    <div class="container">
        <div class="row">
            <br />
            <br />
            <br />
            <div class="col-lg-8">
                <img src="~/images/banner.png" alt="AmiChile" class="img-responsive" style="padding-bottom:30px" />
            </div>
            <div class="col-lg-4">
                <video style="width:100%;" autoplay muted loop controls>
                    <source src="~/video/COVER-FB.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p>
                <a class="btn btn-info btn-block" href="@Url.Action("Index", "Publications", null, null)" style="font-family:sans-serif;font-size:22px">
                    Biblioteca &raquo;
                </a>
            </p>
            <p style="text-align:justify">
                Buscador de Publicaciones, Patentes, Tésis, Proyectos y Otros en Loxechinus albus y Concholepas concholepas.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p>
                <a class="btn btn-info btn-block" href="@Url.Action("Map", "Countries", null, null)" style="font-family:sans-serif;font-size:22px">
                    Exportaciones &raquo;
                </a>
            </p>
            <p style="text-align:justify">
                Mapa georefrenciado de exportaciones con estadísticas de volúmen y precio por año para erizo <i>Loxechinus albus</i>.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p>
                <a class="btn btn-info btn-block" href="@Url.Action("Map", "Regions", null, null)" style="font-family:sans-serif;font-size:22px">
                    Producción &raquo;
                </a>
            </p>
            <p style="text-align:justify">
                Listado de actores productivos georeferenciadospor área de manejo relativos a la especie <i>Loxechinus albus</i>.
            </p>
        </div>
    </div>
    <div id="nanogallery2" data-nanogallery2='{
     "galleryResizeAnimation": true,
    "thumbnailHeight":          210,
    "thumbnailWidth":           "auto",
    "thumbnailL1GutterWidth":   15,
         "debug":         false,
    "thumbnailL1GutterHeight":  0,
    "thumbnailBorderVertical":  0,
    "thumbnailBorderHorizontal":0,
    "itemsBaseURL":             "@Html.Raw((string)ViewData["Url"])",
    "thumbnailStacks":          4,
    "thumbnailStacksRotateZ":   0.4,
     "thumbnailLabel": {
        "position":   "overImageOnMiddle",
          "titleMultiLine": true,
     "hideIcons": true,
     "align": "left"
        },
    "thumbnailBuildInit2":      "thumbnail_transform-origin_50% 150%",
    "thumbnailHoverEffect2":    "thumbnail_rotateX_0deg_10deg_easeOutBack_200 | thumbnail_rotateX_10deg_0deg_delay250_keyframe_hoverin_easeOutBack_400 | thumbnail_rotateY_0deg_20deg_easeOutQuad_150_hoverin|thumbnail_rotateY_20deg_-20deg_delay160_keyframe_hoverin_easeOutQuad_200|thumbnail_rotateY_-20deg_0deg_delay320_keyframe_hoverin_easeOutQuad_150|title_translateX_0px_20px_easeOutQuad_150_hoverin|title_translateX_20px_-20px_delay160_keyframe_hoverin_easeOutQuad_200|title_translateX_-20px_0px_delay320_keyframe_hoverin_easeOutQuad_150|description_translateX_0px_12px_easeOutQuad_150_hoverin|description_translateX_12px_-12px_delay160_keyframe_hoverin_easeOutQuad_200|description_translateX_-12px_0px_delay320_keyframe_hoverin_easeOutQuad_150 | toolsAppear | labelSlideUpTop",
     "album":                   "none",
     "thumbnailToolbarImage":{
     "topLeft":"share", "topRight":"download"
     }
}'>
        <a href="~/images/proyectos/Picture1.jpg" data-ngThumb="/images/proyectos/Picture1.jpg">Proyecto 1</a>
        <a href="~/images/proyectos/Picture2.jpg" data-ngThumb="/images/proyectos/Picture2.jpg">Proyecto 2</a>
        <a href="~/images/proyectos/Picture3.jpg" data-ngThumb="/images/proyectos/Picture3.jpg">Proyecto 3</a>
        <a href="~/images/proyectos/Picture4.jpg" data-ngThumb="/images/proyectos/Picture4.jpg">Proyecto 4</a>
        <a href="~/images/proyectos/Picture5.jpg" data-ngThumb="/images/proyectos/Picture5.jpg">Proyecto 5</a>
        <a href="~/images/proyectos/Picture6.jpg" data-ngThumb="/images/proyectos/Picture6.jpg">Proyecto 6</a>
        <a href="~/images/proyectos/Picture7.jpg" data-ngThumb="/images/proyectos/Picture7.jpg">Proyecto 7</a>
        <a href="~/images/proyectos/Picture8.jpg" data-ngThumb="/images/proyectos/Picture8.jpg">Proyecto 8</a>
        <a href="~/images/proyectos/Picture9.jpg" data-ngThumb="/images/proyectos/Picture9.jpg">Proyecto 9</a>
        <a href="~/images/proyectos/Picture10.jpg" data-ngThumb="/images/proyectos/Picture10.jpg">Proyecto 10</a>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/nanogallery2/dist/css/nanogallery2.min.css">
        <script src="~/lib/nanogallery2/dist/jquery.nanogallery2.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/nanogallery2@2.3.0/dist/css/nanogallery2.min.css"
              asp-fallback-href="~/lib/nanogallery2/dist/css/nanogallery2.min.css"
              crossorigin="anonymous"
              asp-fallback-test-class="nGY2"
              asp-fallback-test-property="box-sizing"
              asp-fallback-test-value="content-box"
              integrity="sha384-EvuSVIvF27w8u30bPH0vTvLwduo2YCO3xkY3rFiYd5BcJR8TLeBhJqvezM1u9I+K" />
        <script src="https://unpkg.com/nanogallery2@2.3.0/dist/jquery.nanogallery2.min.js"
                asp-fallback-src="~/lib/nanogallery2/dist/jquery.nanogallery2.min.js"
                integrity="sha384-m94n8WcQe7RgmU3wztgKFmrDSX1i6CheVOXtBtt8Ufv1+XFDZ+EdpnNpWQ/+SuRA"
                crossorigin="anonymous"></script>
    </environment>
}