
@{
    ViewData["Title"] = "Mapa";
}

<h2>Mapa</h2>

<iframe src="https://www.google.com/maps/d/embed?mid=16zh1gl36ZouXTS5AP_X-fXI8317pXe3h" style="width:100%;height:70vh;padding:0;margin:0;"></iframe>