@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Su contrase&ntilde;a ha sido restablecidad. Por favor <a asp-action="Login">haga clic aqu&iacute; para iniciar sesi&oacute;n</a>.
</p>
