@{
    ViewData["Title"] = "Confirmar correo electrónico";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Se ha enviado un correo electr&oacute;nico de confirmaci&oacute;n.
        <br />
        Por favor <strong>confirme</strong> su correo electr&oacute;nico haciendo click en el enlace.
        <br />
        <h4>Recuerde chequear la bandeja de "SPAM" o correo basura o promociones.</h4>
    </p>
</div>
